@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #root,
  .App {
    /* height: 100svh; Removed to allow natural document flow */
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 12px;
    scroll-behavior: smooth;
  }
}

[contenteditable][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  position: absolute;
  color: #a1a1aa; /* gray-400 */
  background-color: transparent;
  pointer-events: none;
}