:root {
  --color-primary: #f97316; /* orange-500 */
  --color-primary-hover: #ea580c; /* orange-600 */
  --color-primary-light: #fff7ed; /* orange-50 */
  --color-primary-text: #9a3412; /* orange-800 */
  --color-text-on-primary: #ffffff;
  --color-accent-red: #991b1b; /* red-800 */
  --color-accent-red-hover: #7f1d1d; /* red-900 */
  --color-accent-green: #16a34a; /* green-600 */
  --color-accent-yellow: #facc15; /* yellow-400 */
  --color-text-main: #4b2c1a; /* Dark Brown */
  --color-text-light: #7c2d12; /* orange-900 */
  --color-background-main: #fefce8; /* yellow-50 */
  --color-background-light: #fef3c7; /* amber-100 */
  --color-background-panel: #fffbeb; /* amber-50 */
  --color-border-color: #fed7aa; /* orange-200 */
}
